#gameArea {
    width: 400px;
    height: 300px;
    border: 2px solid salmon;
    background-color: blanchedalmond;
    position: relative;
    margin-bottom: 40px;
}
#player {
    width: 40px;
    height: 40px;
    background-color: brown;
    position: absolute;
    left: 180px;
    top: 130px;
}